@{
    ViewData["Title"] = "Normal Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <button onclick="Form.ClientCall();">Client Call</button>
</div>

<script type="text/javascript">

</script>